.container-fluid{
    max-width: 100%;
    position: relative;
}

.imageHome{
    width: 50%;
}

.indexHome{
  color: Azure;
  position: absolute;
  top: -5%;
  z-index: 10;
  font-size: 3rem;
  padding: 1rem;
  font-weight: bold;
}
